flow.json
[{"id":"32cf4780.7f4058","type":"tab","label":"Ex01 Dashboard Relay","disabled":false,"info":""},{"id":"ac0981e.fe4098","type":"subflow","name":"Jupiter GPIO Write","info":"A node for writing the Jupiter Boards GPIO pins. It uses the wiringPI library in command line fashion.\n\nConfiguration parameters:\n- \"pin\": the GPIO pin number as a string.\n\nInputs:\n- msg.payload: the GPIO digital value (\"1\" or \"0\").\n\nOutputs:\nNone","category":"","in":[{"x":160,"y":140,"wires":[{"id":"e961bd3.96c874"}]}],"out":[],"env":[{"name":"pin","type":"str","value":"0","ui":{"label":{"en-US":"pin"},"type":"input","opts":{"types":["str"]}}}],"color":"#C0DEED","icon":"node-red/inject.svg"},{"id":"971bc449.bae358","type":"subflow","name":"Jupiter GPIO Mode","info":"A node for setting the Jupiter Boards GPIO pin mode. It uses the wiringPI library in command line fashion. \n\nThe mode can be one of the following string:\n- \"in\"  : digital input mode.\n- \"out\" : digital output mode.\n- \"pwm\" : PWM output mode.\n- \"up\"  : internal pull-up enabled.\n- \"down\": internal pull-down enabled.\n- \"tri\" : tri-state mode enabled.\n\nConfiguration parameters:\n- \"pin\" : the GPIO pin number as a string.\n- \"mode\": the GPIO mode as one of the above.","category":"","in":[{"x":200,"y":140,"wires":[{"id":"bac4732.bd3a29"}]}],"out":[],"env":[{"name":"pin","type":"str","value":"0","ui":{"label":{"en-US":"pin"},"type":"input","opts":{"types":["str"]}}},{"name":"mode","type":"str","value":"out"}],"color":"#C0DEED","icon":"node-red/cog.svg"},{"id":"dbf84be6.99bce8","type":"ui_group","z":"","name":"Relays","tab":"7a1aa126.e1978","order":1,"disp":true,"width":"6","collapse":false},{"id":"7a1aa126.e1978","type":"ui_tab","z":"","name":"Jupiter Controls","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"9dde6678.dbda38","type":"exec","z":"ac0981e.fe4098","command":"gpio write ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"GPIO Write","x":510,"y":140,"wires":[[],[],[]]},{"id":"e961bd3.96c874","type":"function","z":"ac0981e.fe4098","name":"Format Paremeters","func":"msg.payload = env.get(\"pin\") + \" \" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":140,"wires":[["9dde6678.dbda38"]]},{"id":"bac4732.bd3a29","type":"function","z":"971bc449.bae358","name":"Format Paremeters","func":"msg.payload = env.get(\"pin\") + \" \" + env.get(\"mode\");\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":140,"wires":[["e7c055c6.0c5718"]]},{"id":"e7c055c6.0c5718","type":"exec","z":"971bc449.bae358","command":"gpio mode ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"GPIO Mode","x":550,"y":140,"wires":[[],[],[]]},{"id":"f0e46839.1f3518","type":"subflow:971bc449.bae358","z":"32cf4780.7f4058","name":"LED Init","env":[{"name":"pin","value":"1","type":"str"}],"x":280,"y":60,"wires":[]},{"id":"58c828a0.7f7568","type":"inject","z":"32cf4780.7f4058","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":60,"wires":[["f0e46839.1f3518"]]},{"id":"ab5e6a07.399ed8","type":"inject","z":"32cf4780.7f4058","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":550,"y":60,"wires":[["c7da8868.d18b98"]]},{"id":"c7da8868.d18b98","type":"trigger","z":"32cf4780.7f4058","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"20","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":730,"y":60,"wires":[["80e68fd9.43d0f"]]},{"id":"80e68fd9.43d0f","type":"subflow:ac0981e.fe4098","z":"32cf4780.7f4058","name":"LED Blink","env":[{"name":"pin","value":"1","type":"str"}],"x":900,"y":160,"wires":[]},{"id":"19e0debe.a01481","type":"ui_switch","z":"32cf4780.7f4058","name":"","label":"Relay 1","tooltip":"","group":"dbf84be6.99bce8","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":80,"y":400,"wires":[["c69b8c61.6488a"]]},{"id":"38dddf44.7ea76","type":"ui_switch","z":"32cf4780.7f4058","name":"","label":"Relay 2","tooltip":"","group":"dbf84be6.99bce8","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":80,"y":480,"wires":[["b54a78e7.d4f728"]]},{"id":"bc51493b.1c5f58","type":"subflow:971bc449.bae358","z":"32cf4780.7f4058","name":"Relay 1 Init","env":[{"name":"pin","value":"8","type":"str"}],"x":290,"y":120,"wires":[]},{"id":"66eea3c5.5e00fc","type":"inject","z":"32cf4780.7f4058","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":120,"wires":[["bc51493b.1c5f58"]]},{"id":"f61ad259.5490f","type":"subflow:971bc449.bae358","z":"32cf4780.7f4058","name":"Relay 2 Init","env":[{"name":"pin","value":"16","type":"str"}],"x":290,"y":180,"wires":[]},{"id":"14b722.c10938de","type":"inject","z":"32cf4780.7f4058","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":180,"wires":[["f61ad259.5490f"]]},{"id":"c69b8c61.6488a","type":"subflow:ac0981e.fe4098","z":"32cf4780.7f4058","name":"Relay 1 Control","env":[{"name":"pin","value":"8","type":"str"}],"x":280,"y":400,"wires":[]},{"id":"b54a78e7.d4f728","type":"subflow:ac0981e.fe4098","z":"32cf4780.7f4058","name":"Relay 2 Control","env":[{"name":"pin","value":"16","type":"str"}],"x":280,"y":480,"wires":[]},{"id":"95fab6ec.afe9d8","type":"inject","z":"32cf4780.7f4058","name":"","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":90,"y":240,"wires":[["5eff288d.ba1b28"]]},{"id":"6bb90425.94383c","type":"inject","z":"32cf4780.7f4058","name":"","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":90,"y":300,"wires":[["e73bca83.c93f08"]]},{"id":"5eff288d.ba1b28","type":"subflow:ac0981e.fe4098","z":"32cf4780.7f4058","name":"Relay 1 Control","env":[{"name":"pin","value":"8","type":"str"}],"x":300,"y":240,"wires":[]},{"id":"e73bca83.c93f08","type":"subflow:ac0981e.fe4098","z":"32cf4780.7f4058","name":"Relay 2 Control","env":[{"name":"pin","value":"16","type":"str"}],"x":300,"y":300,"wires":[]}]